[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "deadband"]
	path = deadband
	url = https://github.com/cran/deadband
	shallow = true
	registered = true
